@model IEnumerable<Category>
        <h1>Categories</h1>
        <div class="my-3">
            <a type="button" class="btn btn-primary w-25" asp-action="Add" asp-controller="Category">Add New</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
    
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.name</td>
                            <td><a class="btn btn-primary" asp-action="Edit" asp-route-id=@item.id>Edit</a></td>
                            <td><a class="btn btn-danger"  asp-action="Delete" asp-route-id=@item.id>Delete</a></td>
                        </tr>
                    </tbody>
                }
        </table>
   
